<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('FoodLoop - Home')}"></head>
<body>
    <header th:replace="~{fragments/layout :: navbar}"></header>
    <h1>Homepage</h1>
    <p>Benevenuto nel mondo di FoodLoop</p>
        <!-- HERO -->
    <section class="hero">
        <h1>Combattiamo lo spreco alimentare</h1>
        <p>
            Ogni giorno tonnellate di cibo vengono buttate.
            FoodLoop nasce per aiutarti a gestire ingredienti,
            scadenze e ricette in modo intelligente.
        </p>
    </section>

    <!-- MONDO -->
    <section class="blocco">
        <h2>Lo spreco alimentare nel mondo </h2>

        <p>
            Secondo le Nazioni Unite, circa <b>1/3 del cibo prodotto
            globalmente viene sprecato</b>. Parliamo di oltre
            1,3 miliardi di tonnellate ogni anno.
        </p>

        <ul>
            <li>Impatto ambientale enorme</li>
            <li>Spreco di acqua ed energia</li>
            <li>Aumento emissioni CO₂</li>
            <li>Contrasto con la fame nel mondo</li>
        </ul>
    </section>

    <!-- ITALIA -->
    <section class="blocco">
        <h2>La situazione in Italia </h2>

        <p>
            In Italia ogni persona spreca mediamente
            <b>circa 75 kg di cibo l'anno</b>.
        </p>

        <p>
            Lo spreco avviene soprattutto in casa:
        </p>

        <ul>
            <li>Prodotti scaduti dimenticati</li>
            <li>Acquisti eccessivi</li>
            <li>Porzioni troppo abbondanti</li>
            <li>Mancanza di pianificazione</li>
        </ul>
    </section>

    <!-- FOODLOOP -->
    <section class="blocco evidenza">
        <h2>Come ti aiuta FoodLoop</h2>

        <p>
            FoodLoop ti permette di:
        </p>

        <ul>
            <li>Gestire il tuo inventario ingredienti</li>
            <li>Monitorare le scadenze</li>
            <li>Creare ricette personalizzate</li>
            <li>Ridurre gli sprechi</li>
        </ul>

        <p>
            Meno sprechi = più risparmio + aiuto al pianeta 
        </p>
    </section>

</main>
    <footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>