<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Registrazione')}"></head>
<body>
    <header th:replace="~{fragments/layout :: navbar}"></header>
    <div class="container">
        <h2>Registrati</h2>
        <form th:action="@{/register}" th:object="${utenteDTO}" method="post">
            <fieldset>
                <label>Nome:</label><br>
                <input type="text" th:field="*{nome}" required>
                <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" style="color:red"></p>
                <br>

                <label>Cognome:</label><br>
                <input type="text" th:field="*{cognome}" required>
                <p th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}" style="color:red"></p>
                <br>

                <label>Email:</label><br>
                <input type="email" th:field="*{email}" required>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></p>
                <br>

                <label>Password:</label><br>
                <input type="password" th:field="*{password}" required>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red"></p>
                <br>

                <button type="submit">Crea Account</button>
            </fieldset>
        </form>
    </div>
</body>
</html>