name: Java CI with Maven (Spring Boot)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven' 

    - name: Build and Test with Maven
      
      run: mvn -B clean verify

    - name: Prepare Artifact
      run: |
        mkdir staging
        cp target/*.jar staging/

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: spring-boot-app
        path: staging/*.jar
        retention-days: 5

